.bgimg {
  background-image: url("http://fullhdwallpaper.org/free-hd-images/free-full-hd-wallpapers-6s-1920x1080/download-full-hd-wallpaper-6s-30fy3-1920x1080.jpg");
}
ul:hover, p:hover  {
    background-color: black;
}